{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
    {{available_restaurants}} вот
  </center>
  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Способ оплаты</th>
      <th>Цена</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in available_restaurants %}
      <tr>
        <td>{{item.order.id}}</td>
        <td>{{item.order.get_status_display}}</td>
        <td>{{item.order.get_payment_display}}</td>
        <td>{{item.order.sum}}</td>
        <td>{{item.order.firstname}} {{item.order.lastname}}</td>
        <td>{{item.order.phonenumber}}</td>
        <td>{{item.order.address}}</td>
        <td>{{item.order.comment}}</td>
        <td>
          {% if item.restaurants%}
              {% if item.order.status == '1'%}
                  <details>
                    <summary>
                      Может быть приготовлен ресторанами
                    </summary>
                    {% for i in item.restaurants %}
                    <li>{{i.restaurant}} - {{i.interval}}</li>
                     {% endfor %}
                  </details>
                {% elif item.order.status == '2' %}
                    Готовит {{item.order.restaurant}}
                {% elif item.order.status == '3' %}
                    Доставляется из {{item.order.restaurant}}
            {% endif %}
          {% endif %}
         </td>
        <td><a href = "{% url 'admin:foodcartapp_order_change' object_id=item.order.id %}?next={{ request.path|urlencode }}"> Редактировать</a></td>
      </tr>
     {% endfor %}
   </table>
  </div>
{% endblock %}
